extends layouts/main.pug

block append main
    h1 Mot de passe oublié
    div(id="forgot-password")
        form(method="POST" action="")
            div(class="input")
                label(for="email") Email :
                input(type="email" name="email" id="email")
            button(type="submit" value="submit") Récupérer mon mot de passe
