extends layouts/main.pug

block append main
    h1 Mot de passe oublié pour #{email}
    div(id="forgot-password")
        form(method="POST" action="")
            div(class="input-password")
                label(for="password") Nouveau mot de passe :
                input(type="password" name="password" id="password")
                div(class="input-confirmPassword")
                label(for="confirmPassword") Confirmez votre mot de passe :
                input(type="password" name="confirmPassword" id="confirmPassword")
            button(type="submit" value="reset password") Modifier mon mot de passe
